:root{
    --mainColor:#b08968;
    --secondaryColor:#ddb892;

    --borderColor:#ddb892;

    --mainText:white;
    --secondaryText:#d7f1f7;

    --themeDotBroder: white;

    --previewBack:#e6ccb2;
    --prevShadow: #7f5539;

    --submitButton:#7f5539;

    --skill: #b08968
}